/* CAROUSEL container */
.carousel {
    position: relative;
    width: 34.6em;
    height: 10.6em;
    display: grid;
    grid-template-columns: 3.75em 28.5em 3.7em;
    align-items: center;
  }
  
  /* QUOTES */
  .quote {
    display: none;
    width: 28.5em;
    height: 10.6em;
    flex-direction: column;

    grid-column-start: 2;
    grid-column-end: 3;
  }
  .quote > h6 {
    width: max-content;
    font-size: 1.125em;
    font-weight: bold;
    margin: 0 auto;
  }
  .quote > p {
    width: 100%;
    font-size: 1em;
    color: var(--dark-grey);
    margin: 1.25em 0;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    grid-row-start: 1;
    cursor: pointer;
    width: 100%;
    color: var(--dark-purple);
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .prev {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .carousel > a, .prev:hover, .next:hover {
    text-decoration: none;
  }

  /* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    padding: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: .7em;
    width: .7em;
    margin: 0 2px;
    background-color: var(--light-orange);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: var(--med-orange);
  }