/* TEXT BLOCKS */
.text-block {
  color: var(--color-dark);
  font-size: 1em;
  width: 24em;
  height: max-content;
}
.text-block > h4 {
  font-size: 3em;
  margin: 0;
}
.text-block > p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.left-text-block {
  margin-right: 5em;
}
.right-text-block {
  margin-left: 5em;
}
.text-block > a {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: var(--color-primary-dark);
  cursor: pointer;
}
.text-block > a:hover {
  color: var(--color-secondary-dark);
  transition: color 1s ease;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .left-text-block,
  .right-text-block {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-block {
    padding: 2em;
  }
  .left-text-block,
  .right-text-block {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .text-block {
    width: 85%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .left-text-block,
  .right-text-block {
    height: 100%;
    width: 100%;
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .text-block > h4 {
    font-size: 2.5em;
  }
}
